table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 10px
}

tr th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: bold;
    font-style: italic;
}
tr td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
   
}
thead th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: bold;
}

.Pass{
color: black;
}
.Fail{
color: red;
}
.Topper{
color: green;
}
.name{
	text-transform: capitalize;
}