<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
                        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                            <div *ngIf="firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
                        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                            <div *ngIf="lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Class</label>
                        <input type="text" class="form-control" name="class" [(ngModel)]="model.class" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && class.invalid }" required number />
                        <div *ngIf="f.submitted && class.invalid" class="invalid-feedback">
                            <div *ngIf="class.errors.required">Class is required</div>
                            <div *ngIf="class.errors.number">must be a valid number</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passing">Year of Passing</label>
                        <input type="text" class="form-control" name="passing" [(ngModel)]="model.passing" #passing="ngModel" [ngClass]="{ 'is-invalid': f.submitted && passing.invalid }" required minlength="6" />
                        <div *ngIf="f.submitted && passing.invalid" class="invalid-feedback">
                            <div *ngIf="passing.errors.required">Passing is required</div>
                            <div *ngIf="passing.errors.minlength">Passing must be at least 4 </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="password">Percentage</label>
                        <input type="password" class="form-control" name="percentage" [(ngModel)]="model.percentage" #percentage="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                        <div *ngIf="f.submitted && percentage.invalid" class="invalid-feedback">
                            <div *ngIf="percentage.errors.required">Percentage is required</div>
                            <div *ngIf="percentage.errors.minlength">Percentage must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">submission</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>